export BW_SESSION=$(bw unlock --raw)
export NVD_API_KEY=$(bw get password nvd-nist-gov-apikey)
export OSSINDEX_USERNAME=$(bw get username ossindex-api-key)
export OSSINDEX_PASSWORD=$(bw get password ossindex-api-key)
export ADVISOR_VERSION=1.5.7
